header {
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 2px -2px gray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en vista móvil */
}

nav a, nav button {
  margin-right: 15px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

nav button:hover, nav a:hover {
  color: #1890ff; /* Cambia el color al hacer hover */
}

.icon {
  margin-right: 5px;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #1890ff;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button.primary {
  background-color: #1890ff;
}

.button.secondary {
  background-color: #f0f0f0;
  color: #333;
}

.button.primary:hover, .button.secondary:hover {
  background-color: #40a9ff;
  color: white;
}

.modal, .modal-create {
  padding: 20px;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }
  nav a, nav button {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
